@charset "UTF-8";

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header_wrap {
    margin: 0 auto;
    width: 1100px;;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo {
    line-height: calc(90px - 50%);
}

.gnb {
    width: 100%;
    margin: 0 100px;



    
}

.gnb>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb>ul>li>a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 90px;
}

.sub_menu {
    display: flex;
    flex-direction: column;
}

.lang {
    width: 150px;
    padding-top: 10px;
}

.lang>ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.lang>ul>li>a {
    color: #fff;
}

.login>ul {
    display: flex;
    justify-content: space-between;
}


footer {
    border-top: 1px solid #ccc;
}
.footer_top {
    width: 1100px;;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.footer_bottom {
    width: 1100px;;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.address {
    font-size: 14px;
}
.mark {
    display: flex;
    margin-right: 100px;
}
.mark > a> img {
    width: 100px;
    height: 70px;
    
}